<!-- https://www.notion.so/Front-end-7c8a1a9a6df547058f1473f899a3b9c4 -->
<!-- https://www.figma.com/file/Byw4X5etg8VCmezueyhzkC/?viewer=1&node-id= -->
<!-- https://codepen.io/ -->
<!-- https://www.notion.so/Back-end-a5747fd6bfa34e799e6e0ded51f5ec63 -->

<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
        <title>Ecoleta</title>
    {% endblock title %}


    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/main.css">

    {% block styles %}
    {% endblock styles %}

    <link rel="stylesheet" href="/styles/responsive.css">
</head>

<body>

    <div id="{{ pageId }}">
        {% block content %}
        {% endblock content %}        
    </div>

    {% block modal %}
    {% endblock modal %}

    {% block scripts %}
    {% endblock scripts %}

</body>
</html>